appdirs==1.4.4
attrs==21.2.0
aws-sam-translator==1.35.0
boto3==1.17.69
botocore==1.20.69
CacheControl==0.12.6
cfn-lint==0.49.0
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0
decorator==4.4.2
distlib==0.3.1
distro==1.5.0
html5lib==1.1
idna==3.1
jmespath==0.10.0
jsonpatch==1.32
jsonpointer==2.1
jsonschema==3.2.0
junit-xml==1.9
lockfile==0.12.2
msgpack==1.0.2
networkx==2.5.1
ordered-set==4.0.2
packaging==20.9
pep517==0.9.1
progress==1.5
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytoml==0.1.21
PyYAML==5.4.1
requests==2.25.1
retrying==1.3.3
s3transfer==0.4.2
six==1.15.0
toml==0.10.2
urllib3==1.26.4
webencodings==0.5.1
