name: build Docker Image

on:
  push:
    branches-ignore:
      - '**'
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Show Version
        run: |
          echo "VERSION=$(cat VERSION)" >> "$GITHUB_ENV"
      - name: Build the Docker image
        run: |
          docker build -t ${{ github.repository }}:"$VERSION" .
          docker build -t ghcr.io/${{ github.repository }}:"$VERSION" .

      - name: Publish to Docker Hub
        run: |
          printenv PASSWORD | docker login -u "$USERNAME" --password-stdin
          docker push ${{ github.repository }}:"$VERSION"
          docker logout
        env:
          USERNAME: ${{ secrets.username }}
          PASSWORD: ${{ secrets.password }}

      - name: Publish to GitHub Container Registry
        run: |
          printenv PASSWORD | docker login ghcr.io --username "$USERNAME" --password-stdin
          docker push ghcr.io/${{ github.repository }}:"$VERSION"
          docker logout ghcr.io
        env:
          USERNAME: ${{ github.repository_owner }}
          PASSWORD: ${{ secrets.GITHUB_TOKEN }}
