name: test

on: pull_request

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Show Version
        run: |
          echo "::set-env name=VERSION::$(cat VERSION)"
      - name: Build the Docker image
        run: docker build -t ${{ github.repository }}:"$VERSION" .

      - name: minimum example
        uses: ./

      - name: with args
        uses: ./
        with:
          args: testdata/template.yaml
