name: update
on:
  schedule:
    - cron: "25 20 * * *"
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  requirements:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: update requirements.txt
        id: update
        run: |
          cp requirements.txt requirements.old.txt
          make requirements

          # boto3 and botocore are updated very often, so ignore them
          diff <(grep -v -E 'boto(3|core)' requirements.old.txt) \
            <(grep -v -E 'boto(3|core)' requirements.txt) && true
          echo "result=$?" >> "$GITHUB_OUTPUT"
          rm requirements.old.txt

      - name: Generate token
        id: generate_token
        uses: shogo82148/actions-github-app-token@974a23b2c503ebde567cf6b78354bb6e2791d3b8 # v1.1.1

      - name: commit and create a pull request
        if: ${{ steps.update.outputs.result == '1' }}
        uses: shogo82148/actions-commit-and-create-pr@b1322fe9da4037e9720e34ea221997cffcd3498d # v1.1.4
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
          commit-message: "auto update dependencies"
